* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(-70deg, #1a0f3e 53%, #6457c6 100%);
  color: #919191;
  font-family: "Space Mono", monospace;
  font-size: 1rem;
}

main {
  height: 90vh;
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: 2px dotted #00ffff;
  padding-left: 3.75rem;
}

.hero {
  margin-top: 9rem;
}

h1, h2 {
  color: #00ffff;
  letter-spacing: 0.05rem;
  transition: color 0.7s, transform 0.7s ease;
}

h1 {
  font-size: 5vw;
  padding-top: 1.875rem;
}

h2 {
  font-size: 3vw;
  padding-top: 0.625rem;
}

h1:hover {
  color: #ff0099;
  transform: scale(1.05);
}

h2:hover {
  color: #ff0099;
  transform: scale(1.03);
}

.button {
  width: 12.5rem;
  text-align: center;
  font-size: 1.8vw;
  padding: 0.4375rem 0.75rem;
  margin-top: 2.5rem;
  border-radius: 0.375rem;
  border: 1px solid #00ffff;
  transition: transform 0.7s ease;
}

.button:hover {
  transform: scale(1.2);
}

aside {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  color: #00ffff;
  text-align: center;
  padding: 1.25rem;
  font-size: 0.875rem;
}

i {
  color: #e5e1e1;
  margin: 0.9375rem;
  transition: transform 0.7s ease;
  font-size: 1.625rem;
}

i:hover {
  transform: scale(1.6);
  color: #00ffff;
}

a {
  text-decoration: none;
  color: #00ffff;
}

a:hover {
  color: #ff0099;
}

.background {
  position: absolute;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 10vw;
  }

  h2 {
    font-size: 5vw;
  }

  .button {
    font-size: 3vw;
    width: 9rem;
  }
  .logo {
  max-width: 100%;
  height: auto;
}
}
